* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(to right, #353a5f, #cacfe3);
}

.headline {
  font-size: 4rem;
  color: #cacfe3;
  text-align: center;
  position: relative;
  top: 5rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30%;
}

.btn {
  width: 50rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.75rem 3.5rem;
  margin: 2rem;
  background-color: #cbcfdf;
  color: #444;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to left, #353a5f, #cacfe3);
  color: #cacfe3;
}

@media (max-width: 42rem) {
  .headline {
    font-size: 3rem;
  }
  .btn {
    width: 30rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 32rem) {
  .headline {
    font-size: 2.5rem;
  }
  .btn {
    width: 25rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 26.2rem) {
  .headline {
    font-size: 2rem;
  }
  .btn {
    width: 20rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 22rem) {
  .headline {
    font-size: 1.7rem;
  }
  .btn {
    width: 15rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 18rem) {
  .headline {
    font-size: 1.6rem;
  }
  .btn {
    width: 12rem;
    font-size: 1.3rem;
  }
}
